<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODIN | Mini-Message App</title>
</head>
<body>
    <h1>New Message Form</h1>
    <form method="POST" action="/new">
        <label for="author">Author: </label>
        <input type="text" id="author" name="author">
        <br>
        <label for="message">Message: </label>
        <input type="text" id="message" name="message">
        <br>
        <button type="submit">Send</button>
     </form>
</body>
</html>