<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODIN | Mini-Message App</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <ul>
        <li>Message: <%= text %></li>
        <li>Author: <%= user %></li>
        <li>Date: <%= added %></li>
    </ul>
</body>
</html>